importing pandas dependencies

In [2]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter

In [3]:
df = pd.read_excel('ENF_scraper/enfsolar_datasheet.xlsx')

creacion de las tablas sacando informacion de cuantos tipos de paneles,compa√±ias y potencias hay

In [68]:
df_panel_types = df.groupby(["pv_type"])["pv_type"].count().reset_index(name="count")
df_panel_company = df.groupby(["company name"])["company name"].count().reset_index(name="count")
df_panel_power = df.groupby(["pmax stc"])["pmax stc"].count().reset_index(name="count")
df_panel_company_extend = pd.pivot_table(df[["company name","pv_type"]],index="company name",columns="pv_type",aggfunc= len,fill_value=0)

In [69]:
df_panel_company_extend.reset_index(inplace=True)
df_panel_company_extend.sort_values("company name").style.hide_index()

In [70]:
df_panel_types.sort_values("count", ascending=False).style.hide_index()

In [71]:
df_panel_company.sort_values("count", ascending=False).style.hide_index()

In [72]:
df_panel_power.sort_values("pmax stc", ascending=False).style.hide_index()

nuevo dataframe sin valores de la pruebas noct

In [74]:
df_stc = df.copy()
df_stc = df_stc.dropna(subset=["pmax noct","pmax stc"])
df_stc = df_stc[[col for col in df.columns.to_list() if "noct" not in col ]]
#print(len(df_stc.index))
df_stc.head(5)

,company name,pv name,pv model,pv_type,pmax stc,vmax stc,voc stc,isc stc,imax stc,efficiency stc,tolerance,temp range,temp pmax coef,temp voc coef,temp isc coef
0,Jinko Solar,Cheetah HC 72M-V 390-410Watt,JKM390M-72H-V,PERC,390 Wp,"41,1 V","49,3 V","10,12 A","9,49 A","19,38 %",+ 3 %,-40~85 ¬∞C,"-0,36 %/¬∞C","-0,28 %/¬∞C","0,048 %/¬∞C"
1,Jinko Solar,Cheetah HC 72M-V 390-410Watt,JKM395M-72H-V,PERC,395 Wp,"41,4 V","49,5 V","10,23 A","9,55 A","19,63 %",+ 3 %,-40~85 ¬∞C,"-0,36 %/¬∞C","-0,28 %/¬∞C","0,048 %/¬∞C"
2,Jinko Solar,Cheetah HC 72M-V 390-410Watt,JKM400M-72H-V,PERC,400 Wp,"41,7 V","49,8 V","10,36 A","9,6 A","19,88 %",+ 3 %,-40~85 ¬∞C,"-0,36 %/¬∞C","-0,28 %/¬∞C","0,048 %/¬∞C"
3,Jinko Solar,Cheetah HC 72M-V 390-410Watt,JKM405M-72H-V,PERC,405 Wp,42 V,"50,1 V","10,48 A","9,65 A","20,13 %",+ 3 %,-40~85 ¬∞C,"-0,36 %/¬∞C","-0,28 %/¬∞C","0,048 %/¬∞C"
4,Jinko Solar,Cheetah HC 72M-V 390-410Watt,JKM410M-72H-V,PERC,410 Wp,"42,3 V","50,4 V","10,6 A","9,69 A","20,38 %",+ 3 %,-40~85 ¬∞C,"-0,36 %/¬∞C","-0,28 %/¬∞C","0,048 %/¬∞C"

tabla de cuantos paneles tienen stc y noct

In [67]:
stc_len = len(df_stc.index)
noct_len = len(df.index)-len(df_stc.index)

df_len = len(df.index)

df_stc_noct = pd.DataFrame({"PV FEATURES":["STC","NOCT"],"TOTAL":[stc_len,noct_len],"%":[round((stc_len/df_len)*100,3),round(((noct_len)/df_len)*100,3),]})
df_stc_noct = df_stc_noct.append({"PV FEATURES":"TOTAL","TOTAL":df_stc_noct["TOTAL"].sum(),"%":df_stc_noct["%"].sum()},ignore_index=True)
df_stc_noct.style.hide_index()