# ***Notebook for data representation  in the subtables ***

In [2]:
#importing pandas 
import pandas as pd
#reading the excel file 
df = pd.read_excel('ENF_scraper/enfsolar_datasheet.xlsx')


## ***Tables with grouped data from solar modules***

1. *Solar modules types Quantity by manufacturer*
2. *Solar modules types Quantity* 
3. *Solar modules Quantity by manufacturer* 
4. *Maximum amount of power in the solar modules*
5. *New dataframe without noct test values*
6. *Quantity and percentage of solar panels with stc and noct tests*

In [86]:
df_panel_company_extend = pd.pivot_table(df[["company name","pv_type"]],index="company name",columns="pv_type",aggfunc= len,fill_value=0)
df_panel_types = df.groupby(["pv_type"])["pv_type"].count().reset_index(name="count")
df_panel_company = df.groupby(["company name"])["company name"].count().reset_index(name="count")
df_panel_power = df.groupby(["pmax stc"])["pmax stc"].count().reset_index(name="count")

###                     ***Solar modules types Quantity by manufacturer***

In [81]:
df_panel_company_extend.reset_index(inplace=True)
df_panel_company_extend.sort_values("company name").style.hide_index()

###                     ***Solar modules types Quantity***

In [80]:
df_panel_types.sort_values("count", ascending=False).style.hide_index()

###                     ***Solar modules Quantity by manufacturer***

In [79]:
df_panel_company.sort_values("count", ascending=False).style.hide_index()

###                     ***Maximum amount of power in the solar modules***

In [88]:
df_panel_power.sort_values("pmax stc", ascending=False).style.hide_index()

##                      ***New dataframe without noct test values***

In [77]:
df_stc = df.copy()
#delete the columns that are not needed
df_stc = df_stc.dropna(subset=["pmax noct","pmax stc"])
df_stc = df_stc[[col for col in df.columns.to_list() if "noct" not in col ]]
#first teen rows of the dataframe
df_stc.head(10)

,company name,pv name,pv model,pv_type,pmax stc,vmax stc,voc stc,isc stc,imax stc,efficiency stc,tolerance,temp range,temp pmax coef,temp voc coef,temp isc coef
0,Jinko Solar,Cheetah HC 72M-V 390-410Watt,JKM390M-72H-V,PERC,390 Wp,"41,1 V","49,3 V","10,12 A","9,49 A","19,38 %",+ 3 %,-40~85 C,"-0,36 %/C","-0,28 %/C","0,048 %/C"
1,Jinko Solar,Cheetah HC 72M-V 390-410Watt,JKM395M-72H-V,PERC,395 Wp,"41,4 V","49,5 V","10,23 A","9,55 A","19,63 %",+ 3 %,-40~85 C,"-0,36 %/C","-0,28 %/C","0,048 %/C"
2,Jinko Solar,Cheetah HC 72M-V 390-410Watt,JKM400M-72H-V,PERC,400 Wp,"41,7 V","49,8 V","10,36 A","9,6 A","19,88 %",+ 3 %,-40~85 C,"-0,36 %/C","-0,28 %/C","0,048 %/C"
3,Jinko Solar,Cheetah HC 72M-V 390-410Watt,JKM405M-72H-V,PERC,405 Wp,42 V,"50,1 V","10,48 A","9,65 A","20,13 %",+ 3 %,-40~85 C,"-0,36 %/C","-0,28 %/C","0,048 %/C"
4,Jinko Solar,Cheetah HC 72M-V 390-410Watt,JKM410M-72H-V,PERC,410 Wp,"42,3 V","50,4 V","10,6 A","9,69 A","20,38 %",+ 3 %,-40~85 C,"-0,36 %/C","-0,28 %/C","0,048 %/C"
5,Yingli Green Energy,YGE 72 CELL SERIES 2 320-345,YL320P-35b,Policristalino,320 Wp,"36,5 V","45,2 V","9,25 A","8,78 A","16,5 %","+ 1,5 %",-40~85 C,"-0,39 %/C","-0,3 %/C","0,05 %/C"
6,Yingli Green Energy,YGE 72 CELL SERIES 2 320-345,YL325P-35b,Policristalino,325 Wp,"36,9 V","45,4 V","9,29 A","8,82 A","16,7 %","+ 1,5 %",-40~85 C,"-0,39 %/C","-0,3 %/C","0,05 %/C"
7,Yingli Green Energy,YGE 72 CELL SERIES 2 320-345,YL330P-35b,Policristalino,330 Wp,"37,3 V","45,6 V","9,33 A","8,85 A",17 %,"+ 1,5 %",-40~85 C,"-0,39 %/C","-0,3 %/C","0,05 %/C"
8,Yingli Green Energy,YGE 72 CELL SERIES 2 320-345,YL335P-35b,Policristalino,335 Wp,"37,7 V","45,7 V","9,37 A","8,89 A","17,2 %","+ 1,5 %",-40~85 C,"-0,39 %/C","-0,3 %/C","0,05 %/C"
9,Yingli Green Energy,YGE 72 CELL SERIES 2 320-345,YL340P-35b,Policristalino,340 Wp,"38,1 V","45,9 V","9,41 A","8,93 A","17,5 %","+ 1,5 %",-40~85 C,"-0,39 %/C","-0,3 %/C","0,05 %/C"

###                     ***Quantity and percentage of solar modules with stc and noct tests***

In [67]:
stc_len = len(df_stc.index)
noct_len = len(df.index)-len(df_stc.index)
df_len = len(df.index)
#creating a new dataframe with the noct and stc values
df_stc_noct = pd.DataFrame({
                            "PV FEATURES":["STC","NOCT"],
                            "TOTAL":[stc_len,noct_len],
                            "%":[round((stc_len/df_len)*100,3),round(((noct_len)/df_len)*100,3),]
                            })

df_stc_noct = df_stc_noct.append({
                                "PV FEATURES":"TOTAL",
                                "TOTAL":df_stc_noct["TOTAL"].sum(),
                                "%":df_stc_noct["%"].sum()
                                },ignore_index=True)
df_stc_noct.style.hide_index()